.post-container{
    justify-content: space-between;
    height: 100%;
    flex-wrap: nowrap;
    padding: 3rem;
    max-height: 600px;
    margin-bottom: 48px;

}

.post-container-reverse{
    flex-direction: row-reverse;
}

.post-caption{
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    height: 100%;
    overflow: none;
}

.post-image-container{
    width: 40%;
    margin: 0 24px;
    
}

#post-image{
    border: 5px solid #C6AD24;
    max-height: 550px;
}

@media only screen and (max-width: 1400px){
    .post-container{

        padding: 0.5rem;

    
    }
}
@media only screen and (max-width: 1024px){
    .post-container{

        padding: 0;

        margin-bottom: 32px;
    }
    .post-image-container{
        width: 55%;
        margin: 0 24px;
        
    }
    .post-caption{
        
        width: 45%;

    }
    
}
@media only screen and (max-width: 768px){
    .post-container{
        /* margin-top: 64px; */
        flex-wrap: wrap;
        margin-bottom: 16px;
        max-height: 800px;
    }
    .post-image-container{
        width: 100%;
        margin:  48px 0;
        
    }
    .post-caption{
        margin-top: 40px;
        
        width: 100%;

    }
    
}
