.cardscontainer{
    margin: 48px;
    height : fit-content;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
@media only screen and (max-width: 375px){
   .cardscontainer{
    margin: 0 8px;
   }
}