

.input-container{
    justify-content: space-between;
}

.container{
    width: 35%!important;
}

.sent {
    background-color: rgb(42, 209, 42)!important;
    border-color: rgb(42, 209, 42)!important ;
}
.invisible {
    visibility: collapse;
}
.select-container {
    flex-direction: column;
}
#date {
    align-self: flex-start;
}

.no-height {
    height: 0px !important;
}

.button-container {
    flex-direction: row;
    width: 100%;
    justify-content: center;
}


.formstatus {
    font-size: 1em!important;
}
.submit {
    background-color: black!important;
    border-color: #C6AD24!important;
    border-width: 3px!important;
}