.footer {
  color: white;
  width: 100%;
  height: min-content;

  display: flex;
  flex-direction: row;
}

.FooterLogo {

  width: 25%;
  align-self: center;
  display: flex;
  justify-content: center;
}

.FooterLogo img {
  width: auto;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
}

.FooterDesc {
  margin-top: 24px;
  width: 40%;
}

.footer-desc-text {
  font-family: var(--commontext-font);
  font-size: auto;
  color: white;
  font-weight: var(--commontext-font-weight);
  line-height: var(--commontext-line-height);
  text-align: var(--commontext-text-align);
}


.DividerContainer {

  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 43px 80px; */
}

.divider {
  width: 0;
  height: 80%;
  border: 1px solid #FFFFFF;
}

.FooterMediaLinks {

  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MediaIcons {
  margin-top: 24px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (max-width: 1024px) {
  .footer-desc-title {
    font-size: 40px;
  }

}

@media only screen and (max-width: 786px) {
  .footer {
    height: auto;
    min-height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .FooterLogo {
    width: 40%;
  }

  .FooterDesc {
    width: 60%;
    height: fit-content;
  }

  .footer-desc-title {
    font-size: 1.8em !important;
  }

  .footer-desc-text {

    font-size: 1em;
  }

  .DividerContainer {
    display: none;
  }

  .FooterMediaLinks {
    width: 100%;
    justify-content: start;
    padding-bottom: 16px;
  }

}

@media only screen and (max-width: 375px) {
  .footer {

    flex-direction: column;
  }

  .FooterLogo {
    width: 50%;
  }

  .FooterDesc {
    align-self: center;
    width: 90%;

  }

  .footer-desc-title {
    font-size: 40px;
    text-align: center !important;
  }
}