.card-container{
    justify-content: space-between;
    height: 100%;
    flex-wrap: nowrap;
    padding: 3rem;
    max-height: 600px;

}

.card-container-reverse{
    flex-direction: row-reverse;
}

.card-caption{
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    height: 100%;
    overflow: none;
}

.card-image-container{
    width: 40%;
    margin: 0 24px;
    
}

#card-image{
    border: 5px solid #C6AD24;
}